.member-details {
  display: flex;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.member-details img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.detail {
  margin: 16px 0px 0px 20px;
  color: black;
}
.detail i {
  color: blue;
}
